APP_NAME=C-Drishti API
APP_VERSION=0.3.0

ENVIRONMENT=development
DEBUG=true

API_V1_PREFIX=/api/v1

FRONTEND_ORIGIN=http://localhost:8080

OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.2:3b

RAG_COLLECTION_NAME=c_drishti_legal
RAG_MAX_DISTANCE=1.35